* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f3e2d4; /* White background */
    color: #333; /* Dark text color */
  }
  
  .header {
    
    font-size: 40px;
    text-align: center;
    background: #ef4287; /* Pink background */
    color: #fff; /* White text color */
    margin-bottom: 20px;
    margin-top: -30px;
    margin-left: -30px;
    margin-right: -30px;
    
  }
  
  .leftcolumn {
    float: left;
    width: 75%;
    padding-right: 20px;
  }
  
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  .card {
    background-color: #cd9542c6;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
  }
  
  .card img {
    width: 70%;
    height: auto;
    border-radius: 5px; /* Rounded corners for images */
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .footer {
    padding: 20px;
    text-align: center;
    background: #c73838f1; /* Yellow background */
    margin-top: 20px;
    color: #ffffff; /* Dark text color */
  }
  