body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #67b6c4;
    background-size: cover;
    
    
    
}

header {
    background-color: #fffdfd;
    color: #17a2b8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header .logo img {
    height: 70px;
    width: auto;
}
header .name h2 {
    margin-left: -250px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #0c0c0c;
    text-decoration: none;
    font-weight: bold;
    margin-right: 50px;
    font-size: 20px;

    
}
a:hover {
  color: #0f6674;
  text-decoration: underline;
}
.int {
    height: 4px;
}
.login-container {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
}

.login-box {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-left: 300px;
    width: 90%;
    height: 200%;
    margin-top: -390px;
    padding: 50px;
    padding-right: 60px;
}

.login-box h2 {
    text-align: center;
    color: #17a2b8;
    margin-bottom: 40px;
    font-family: cursive;
    font-size: 30px;
    
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-group button {
    width: 100%;
    padding: 10px;
    background-color: #00394f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.input-group button:hover {
    background-color: #45a049;
}

.links {
    text-align: center;
    margin-top: 10px;
}

.links a {
    color: #000000;
    text-decoration: none;
    font-size: 14px;
}

.links a:hover {
    text-decoration: underline;
}