body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #67b6c4;
}

header {
    background-color: #fffdfd;
    color: #17a2b8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header .logo img {
    height: 70px;
    width: auto;
}
header .name h2 {
    margin-left: -330px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #0c0c0c;
    text-decoration: none;
    font-weight: bold;
    margin-right: 50px;
    font-size: 20px;

    
}
a:hover {
  color: #0f6674;
  text-decoration: underline;
}
/* For smaller devices */
@media (max-width: 768px) {
    .back-to-top {
        bottom: 20px;
        right: 20px;
        width: 45px;
        height: 45px;
        line-height: 42px;
    }
}
.signup-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    
}

.signup-form-container {
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #fffdfd;
    margin-left: -40px;
    margin-right: 30px;
}

.signup-form-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 90%;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #17a2b8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
.signup-section img {
    max-width: 700px;
    height: auto;
    margin-right: 70px;
    margin-left: 30px;
    border-radius: 10px;
    margin-top: 30px;
   
}
.signup-section .image-carousel {
    flex: 1;
    max-width: 600px;
    height: 400px; /* Making it a square box */
    margin-right: 30px;
    margin-bottom: 110px;
}

.signup-section .owl-carousel {
    width: 100%;
    height: 100%; /* Making the carousel fill the square box */
}



